.emdr {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #333;
}

.light {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
}
